<div class="logIn">
    <h3><i class="fas fa-sign-in-alt"></i>Log In</h3>
    <div class="details">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email <sup>*</sup></mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com">
                <mat-error>
                    Please enter a valid email address
                </mat-error>
                <mat-error>
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Password <sup>*</sup></mat-label>
                <input type="password" matInput placeholder="*******" value="">
            </mat-form-field>
            <div class="forgetPassword">
                <a href="#">Forget Password ?</a>
            </div>
            <button mat-raised-button color="accent">Login</button>
        </form>


    </div>
</div>