<div class="mainAbout">
    <div class="row">
        <div class="aboutFounder">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="founderImage">
                            <img src="../../../assets/founder.png" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="founderDetails">
                            <h2>About Mender Founder</h2>
                            <h3>Moustafa Elkady</h3>
                            <span class="founderJop">Software Engineer</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                            <div class="socialIcon">

                                <i class="facebook fab fa-facebook-square"></i>
                                <i class="linkedin fab fa-linkedin"></i>
                                <i class="twitter fab fa-twitter-square"></i>
                                <i class="instagram fab fa-instagram-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="next">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="firstnextBox">
                            <h3>What`s The Next ?</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum beatae et
                                dolorum saepe
                                esse rerum.</p>
                            <button routerLink="regist" mat-raised-button color="accent"> Create a Free
                                Account</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nextBox">
                            <i class="fas fa-notes-medical"></i>
                            <span class="nexHeading">Follow Up Profile</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum beatae et
                                dolorum saepe
                                esse rerum.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nextBox">
                            <i class="fas fa-user-md"></i>
                            <span class="nexHeading">Doctor Profile</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum beatae et
                                dolorum saepe
                                esse rerum.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nextBox">
                            <i class="fas fa-notes-medical"></i>
                            <span class="nexHeading">Smart Watch</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum beatae et
                                dolorum saepe
                                esse rerum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>