<div class="contactHeader">
    <h1>Contact Us</h1>
</div>

<div class="contactContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="contactForm">
                    <h2><i class="fas fa-fingerprint"></i> Be In Touch !</h2>
                    <form class="example-form">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" placeholder="Your Name" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mobile Number</mat-label>
                            <input matInput type="text" placeholder="Enter Your Mobile Number" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Enter Your Email" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Leave Your Comment !</mat-label>
                            <textarea matInput type="text" placeholder="Enter Your Comment Here !"></textarea>
                        </mat-form-field>
                        <button mat-raised-button>Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contactDetails">
                    <h2><i class="fas fa-info-circle"></i> Contact Details !</h2>
                    <mat-list>
                        <mat-list-item>
                            <i class="fas fa-phone-alt"></i>
                            <span>01128509297</span>

                        </mat-list-item>

                        <mat-list-item>
                            <i class="fas fa-envelope-open-text"></i>
                            <span>Mender4Health@gmail.com</span>
                        </mat-list-item>
                        <mat-list-item>
                            <i class="fas fa-globe-europe"></i>
                            <span>Mender4Health@gmail.com</span>
                        </mat-list-item>

                        <mat-list-item>
                            <div class="socialIcon">
                                <i class="facebook fab fa-facebook-square"></i>
                                <i class="linkedin fab fa-linkedin"></i>
                                <i class="twitter fab fa-twitter-square"></i>
                                <i class="instagram fab fa-instagram-square"></i>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</div>