<footer>
    <div class="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/mender-logo-white.png" />
                    <mat-list role="list" class="footerNavigation">
                        <mat-list-item routerLink="" class="FootNav">Home</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="about" class="FootNav">About</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="spec" class="FootNav">Specialties</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="contact" class="FootNav">Contact Us</mat-list-item>
                    </mat-list>
                </div>
                <div class="col-md-2">
                    <h4>Search By</h4>
                    <mat-list role="list" class="footerNavigation">
                        <mat-list-item routerLink="spec" class="FootNav">Specialties</mat-list-item>
                        <mat-list-item routerLink="contact" class="FootNav">Doctors</mat-list-item>
                    </mat-list>
                </div>
                <div class="col-md-3">
                    <h4>Are You Registered ?</h4>
                    <mat-list role="list" class="footerNavigation">
                        <mat-list-item routerLink="regist" class="FootNav">Have An Account Now</mat-list-item>
                    </mat-list>
                </div>
                <div class="col-md-2">
                    <h4>Need Help ?</h4>
                    <mat-list role="list" class="footerNavigation">
                        <mat-list-item routerLink="contact" class="FootNav">Contact Us</mat-list-item>
                    </mat-list>
                </div>
                <div class="col-md-2">
                    <h4>Follow Us on Social Media</h4>
                    <mat-divider></mat-divider>
                    <div class="socialIcon">
                        <i class="facebook fab fa-facebook-square"></i>
                        <i class="linkedin fab fa-linkedin"></i>
                        <i class="twitter fab fa-twitter-square"></i>
                        <i class="instagram fab fa-instagram-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>