$mainColor: #3cb03b;
$seconColor: #019fde;

.logo {
  width: 40%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 15px;
}
.logo img {
  width: 100%;
}

.navList button {
  width: 100%;
  text-align: left;
  padding-left: 0;
}

.navList button i {
  margin-right: 10px;
  color: $seconColor;
  font-size: 20px;
}

.socialIcon {
  padding: 8px;
  text-align: center;
}

.socialIcon h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.socialIcon i {
  font-size: 20px;
  margin-right: 6px;
}

.socialIcon i.facebook {
  color: #4267b2;
}

.socialIcon i.twitter {
  color: #1da1f2;
}

.socialIcon i.instagram {
  color: #405de6;
}

.socialIcon i.linkedin {
  color: #0077b5;
}

.sideProfile {
  margin: 10px auto;
  text-align: center;
}

.profileImge {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.sideProfile img {
  width: 100%;
}

.sideProfile h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.sideProfile span {
  color: #2d2d2d;
  display: block;
  text-align: center;
  color: $seconColor;
}

.sideProfile button {
  margin-right: 10px;
  font-size: 12px;
  margin-top: 15px;
}

.sideProfile button.editeButton {
  background-color: $seconColor;
  color: #fff;
}
