<!-- <div class="logo">
    <img src="../../../assets/mender-logo.png" />
</div>
<mat-divider></mat-divider> -->
<div class="sideProfile">
    <div class="profileImge">
        <img src="../../../assets/Profile Picture/Moustafa-min.jpg" />
    </div>
    <h3>Moustafa Elkady</h3>
    <span>@MoustafaElkady</span>
    <button mat-raised-button color="accent">Log Out</button>
    <button mat-raised-button class="editeButton">Edit Profile</button>
</div>
<mat-divider></mat-divider>
<div class="navList">
    <mat-list>
        <mat-list-item><button routerLink="" mat-button><i class="fas fa-user-circle"></i> Profile</button>
        </mat-list-item>
        <mat-list-item><button routerLink="" mat-button><i class="fas fa-home"></i> Home</button></mat-list-item>
        <mat-list-item><button routerLink="about" mat-button><i class="fas fa-info-circle"></i> About</button>
        </mat-list-item>
        <mat-list-item><button routerLink="doctors" mat-button><i class="fas fa-user-md"></i> Doctors</button>
        </mat-list-item>
        <mat-list-item><button routerLink="spec" mat-button><i class="fas fa-file-medical"></i> Specialaties</button>
        </mat-list-item>
        <mat-list-item><button routerLink="contact" mat-button><i class="fas fa-paperclip"></i> Contact Us</button>
        </mat-list-item>
    </mat-list>

</div>
<mat-divider></mat-divider>

<div class="socialIcon">
    <h3>Mender on Social </h3>
    <i class="facebook fab fa-facebook-square"></i>
    <i class="linkedin fab fa-linkedin"></i>
    <i class="twitter fab fa-twitter-square"></i>
    <i class="instagram fab fa-instagram-square"></i>
</div>